.contackt__container{
    margin: 0 0 0 244px;
    max-width: 1440px;
}

.contackt__container-header{
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 156px;
    margin-left: 240px;
}

.contackt__right{
}

.contackt__right-Logo{
    color: white;
    font-weight: 200;
    font-size: 60px;
    line-height: 125%;
}

.contackt__container-date{
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    max-width: 1150px;
}

.container__date-text{
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.3);
}

.container__date-textDescription{
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #FFFFFF;
}

.contackt__container-dateSolution{
    display: flex;
    justify-content: space-between;
}

.contackt__container-dateSolution:nth-child(2){
    margin-top: 31px;
}

.container__main{
    display: flex;
    justify-content: space-between;
}